---
import Modal from "./Modal.astro";
---

<section class="bg-slate-100 dark:bg-slate-800 min-h-screen flex items-center justify-center">
  <div class="py-8 px-4 mx-auto text-center lg:py-16">
    <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-white animate-jump-in animate-delay-300 animate-once">
      Astro + Tailwind Page Tests 2
    </h1>
    <p class="mb-8 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 lg:px-48 dark:text-gray-400">
      Segunda página de prueba para ver como se comporta Astro con Tailwind y Flowbite.<br>
      Creada por davidbc01⚡
    </p>
    <div class="flex flex-col space-y-4 sm:flex-row sm:justify-center sm:space-y-0">
      <Modal 
        title="Modal de pruebas"
        body="Este es el body del modal de pruebas, con contenido que se pasa usando la interfaz"
        nameBtnOkFooter="Aceptar"
        nameBtnCancelFooter="Cancelar"
        nameBtnOpenModal="Empezar"
      />
      <a data-tooltip-target="tooltip-bottom" data-tooltip-placement="bottom" href="https://astro.build/" target="_blank" class="inline-flex justify-center items-center py-3 px-5 sm:ms-4 text-base font-medium text-center text-gray-900 rounded-lg border border-gray-300 hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 dark:text-white dark:border-gray-700 dark:hover:bg-gray-700 dark:focus:ring-gray-800">
        Ver más
      </a>
    </div>
  </div>
</section>

<div id="tooltip-bottom" role="tooltip" class="absolute z-10 invisible inline-block px-2 py-2 text-sm font-medium text-white bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
  Doc de Astro
  <div class="tooltip-arrow" data-popper-arrow></div>
</div>
